<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1047038422046-98qfc9rn1dfpp26nbdt7aeb3vm2k1h0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047038422046-98qfc9rn1dfpp26nbdt7aeb3vm2k1h0r</string>
	<key>API_KEY</key>
	<string>AIzaSyAFZm91cyea2IyVWpqcXmU6o8SBWfMyIr8</string>
	<key>GCM_SENDER_ID</key>
	<string>1047038422046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rebeloper.CoffeeBreakExample</string>
	<key>PROJECT_ID</key>
	<string>coffee-break-example</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-break-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047038422046:ios:5cff972478194bf4</string>
	<key>DATABASE_URL</key>
	<string>https://coffee-break-example.firebaseio.com</string>
</dict>
</plist>